<section [formGroup]="form">
  <app-header></app-header>
  <div class="pay-box">
    <div class="detail-box">
      <h2>Billing Address</h2>
      <div class="p-[40px] h-[100%] flex flex-col justify-evenly">
        <div class="inputs">
          <label for="">Customer Name</label>
          <input formControlName="filtervalue7" type="text" />
        </div>
        <div class="inp2">
          <div class="inputs">
            <label for="">Email Id</label>
            <input type="email" formControlName="filtervalue14" />
          </div>
          <div class="inputs">
            <label for="">Number</label>
            <input type="text" formControlName="filtervalue10" />
            <div class="checkboxes">
              <input type="checkbox" name="" id="phn" />
              <label for="phn">Phone</label>
              <input type="checkbox" name="" id="wp" />
              <label for="wp">Whatsapp</label>
            </div>
          </div>
        </div>
        <div class="inputs add">
          <label for="">Address</label>
          <textarea  (keyup)="change(add.value)"  #add name="" id=""></textarea>
        </div>
     
        <div class="inputs add">
          <label for="">Billing Address</label>
          <textarea formControlName="filtervalue5"  name="" id=""></textarea>
        </div>
        <div>
          <input type="checkbox" id="same" (change)="check($event)">
          <label for="same">Same as address</label> 
        </div>
        <div class="inp2">
          <div class="inputs">
            <label for="">GST Number</label>
            <input type="text" />
          </div>
          <div class="inputs"> </div>
        </div>
        <!-- <div class="inp2">
          <div class="inputs"></div>
          <div class="btn-holder">
            <button class="bttn can">Cancel</button>
            <button class="bttn">Update</button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="bill-box">
      <div class="content">
        <h2>Order details</h2>
        <div class="det">
          <h3>Order#</h3>
          <h3 class="text-right">5657213</h3>
        </div>
        <div class="det-2">
          <div class="flex gap-[10px]">
            <p>Coupon code</p>
            <input type="text" />
          </div>

          <p class="text-[var(--prim)] text-right">Apply</p>
        </div>
        <div class="det">
          <p>Order amount</p>
          <p class="text-right">{{totalPay}}</p>
        </div>
        <div class="det">
          <h3>Total Amount</h3>
          <h3 class="text-right">{{totalPay}}</h3>
        </div>
      </div>
    </div>
  </div>
 
  <div class="h-[80px] flex w-full items-center justify-end pr-[20px]">
    <button (click)="submit()" style="margin: 0; width: auto" class="bttn">
      Submit
    </button>
  </div>
</section>
