<div *ngIf="data | async as value" class="all-box">
  <div class="image-container">
    <div class="img-box">
      <img src="../../../assets/images/ap.png" alt="" />
    </div>
    <div class="img-box">
      <img src="../../../assets/images/berger.png" alt="" srcset="" />
    </div>
    <div class="img-box">
      <img src="../../../assets/images/jandN.png" alt="" srcset="" />
    </div>
    <div class="img-box">
      <img src="../../../assets/images/sheenlac.png" alt="" srcset="" />
    </div>
  </div>
  <div class="image-container img-grid">
    <div class="img-col">
      @for (item of final; track $index) {
      <div (click)="sendDetail(item)" class="p-box flex justify-center items-center" [class.na-box]="item.ASIAN_PAINTS == null">
        <section *ngIf="check(item.ASIAN_PAINTS, null)">
          <!-- <p>NA</p> -->
        </section>
        <section class="flex flex-col" *ngIf="item.ASIAN_PAINTS !== null">
          <img src="../../../assets/images/asian paints 1.png" alt="" srcset="" />
          <h5 class="text-center font-bold">{{ item.ASIAN_PAINTS }}</h5>
          <!-- <div class="flex products-center gap-[10px]"> -->
          <h5 class="text-center pt-5">₹{{ item.Asian_detils[0].price }}</h5>
          <!-- </div> -->
        </section>
      </div>
      }
    </div>
    <div class="img-col">
      @for (item of final; track $index) {
      <div (click)="sendDetail(item)" class="p-box" [class.na-box]="item.BERGER_PAINTS == null">
        <section *ngIf="check(item.BERGER_PAINTS, null)">
          <!-- <p>NA</p> -->
        </section>
        <!-- <section style="display: contents" *ngIf="item.BERGER_PAINTS !== null"> -->
        <section class="flex flex-col" *ngIf="item.BERGER_PAINTS !== null">
          <img src="../../../assets/images/berger 1.png" alt="" srcset="" />
          <h5 class="text-center font-bold">{{ item.BERGER_PAINTS }}</h5>
          <!-- <div class="flex products-center gap-[10px]"> -->
          <h5 class="text-center pt-5">₹{{ item.BERGER_details[0].price }}</h5>
          <!-- </div -->
        </section>
      </div>
      }
    </div>
    <div class="img-col">
      @for (item of final; track $index) {
      <div (click)="sendDetail(item)" class="p-box" [class.na-box]="item.JN_PAINTS == null">
        <section *ngIf="check(item.JN_PAINTS, null)">
          <!-- <p>NA</p> -->
        </section>
        <section class="flex flex-col justify-center items-center" *ngIf="item.JN_PAINTS !== null">
          <img class="" src="../../../assets/images/jenson 1.png" alt="" srcset="" />
          <h5 class="text-center font-bold">{{ item.JN_PAINTS }}</h5>
          <!-- <div class="text-center pb-10"> -->
          <h5 class="text-center pt-5">₹{{ item.JN_details[0].price}}</h5>
          <!-- </div> -->
        </section>
      </div>
      }
    </div>
    <div class="img-col">
      @for (item of final; track $index) {
      <div (click)="sendDetail(item)" class="p-box" [class.na-box]="!item.sheenlac_PAINTS">
        <section *ngIf="!item.sheenlac_PAINTS">
          <p>NA</p>
        </section>
        <section style="display: contents" *ngIf="item.sheenlac_PAINTS">
          <img src="../../../assets/images/asian paints 1.png" alt="" srcset="" />
          <h3>{{ item.ASIAN_PAINTS }}</h3>
          <div class="flex products-center gap-[10px]">
            <h3>₹{{ item.asian_detils[0].price }}</h3>
          </div>
        </section>
      </div>
      }
    </div>
  </div>
</div>