.all-box {
  border: 1px solid rgba(0, 0, 0, 0.26);
  width: 100%;
}
.image-container {
  width: 100%;
  // background-color: rgba(255, 255, 0, 0.388);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  border-radius: 10px;
  .img-col,
  .img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    .img-box {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .p-box {
    height: 200px;
    width: 200px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    cursor: pointer;
    img {
      align-self: center;
    }
    h3 {
      font-weight: 700;
      font-size: 20px;
    }
  }
  .na-box {
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 21px;
  }
}
.img-grid {
  height: 850px;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--prim);
  border-radius: 35px;
}
